# Ignore environment files
.root
.env
*.egg-info

# Ignore Git-related files
.git/
.gitattributes

# Ignore Jupyter Notebook checkpoints
*.ipynb_checkpoints/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore macOS system files
.DS_Store
*/.DS_Store

# Ignore input and output directories 
data/

# Ignore logs and temporary files
logs/
*.log
*.out
*.err


# Ignore cache files
*.cache
.cache/
.ipython/
